<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
      <div class="card card-body bg-dark text-white">
        <h1 class="text-center">
          {{message}}
        </h1>
        <p>
          Sorry, but we couldn't find the page you were looking for.
        </p>
        <p>
          Try going back to the
          <a href="/">
            home page
          </a>
          .
        </p>
      </div>
    </div>
  </div>
</div>