<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card card-body bg-dark text-white text-center">
        <h1 class="fw-bold">Welcome {{user.fullname}}</h1>
        <h4>{{user.email}}</h4>
        <p>{{timeago user.created_at}}</p>
        <a href="/links" class="btn btn-primary m-4">
          Save your Links
        </a>
      </div>
    </div>

  </div>
</div>