body {
  background: #141518;
  font-family: "Oswald", sans-serif;
  overflow: hidden;
  height: 100vh;
}

.index {
  width: 100vw;
  height: 100vh;
}

.navbar {
  background: black !important;
}

.nav-link {
  color: #fff !important;
}

.bg-image {
  color: white;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url("/img/background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }

  .masthead h1 {
    font-size: 5.5rem;
  }
}