{{#if success}}
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          {{success}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{#if error}}
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4 mx-auto">
        {{#each error}}
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            {{this}}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}