<div class="container p-4 h-100">
  <div class="row h-75 d-flex align-items-center">
    <div class="col-md-4 mx-auto">
      <div class="card bg-dark">
        <form action="/links/add" method="POST" class="card-body">

          {{! Title and save button }}
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="text-light mb-3 h4">Create a New Task</h1>
            <button class="btn btn-success btn-block">
              Save
            </button>
          </div>
          <label for="title">Write a title:</label>
          <input
            type="text"
            name="title"
            class="form-control bg-dark text-light mb-3"
            placeholder="Title"
            autofocus
          />

          <label for="url">Website:</label>
          <input
            type="url"
            name="url"
            class="form-control bg-dark text-light mb-3"
            placeholder="URL"
          />

          <label for="description">Write a description:</label>
          <textarea
            name="description"
            rows="2"
            class="form-control bg-dark text-light mb-3"
            placeholder="Description"
          ></textarea>
        </form>
      </div>
    </div>

  </div>
</div>